@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Maplestory Light';
    src: url('/public/fonts/maplestory_light.ttf');
}
@font-face {
    font-family: 'Maplestory Bold';
    src: url('/public/fonts/maplestory_bold.ttf');
}
